*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left top, #031a9a, #bb53ff);
    min-height: 100vh;
    transition: all 1s ease-in-out;
}
.wrapper{
    user-select: none;
    width: 100%;
    height: 100vh;
    padding: 45px;
}
.card.aqua{
    background:rgb(91, 142, 142) ;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.color{
    width: 150px;
    height: 80px;
    background: #fff;
    margin-right: 180px;
    margin-top: 50px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.color::before{
    position: absolute;
    content: '';
    width: 65px;
    height: 65px;
    background: linear-gradient(to left top, #031a9a, #bb53ff);
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    border-radius: 60px;
    transition: all 0.5s ease-in-out;
}

.color.active::before{
    left: 80px;
    transition: all 0.5s ease-in-out;
    background:rgb(91, 142, 142) ;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -100px 0px 0px 0px;
    width: 100%;
    height: auto;
    
}

body.aqua{
    background:rgb(91, 142, 142) ;
    transition: all 1s ease-in-out;
}

input{
    flex-basis: 70%;
    width: 50%;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    outline: none;
    border: none;
    border-bottom: 4px solid #fff;
    background: transparent;
    color: #fff;
    margin-left: 190px;
    
}

input::placeholder{
    color: #fff;
}
.cards{
    margin-left: 40px;
}

.card{
    background: #dcdcdc;
    padding: 30px;
    border-radius: 8px 8px 0 0;
    margin: 10px 0;
    transition: 1s;
}

.card:hover{
    margin: 10px 0;
    transform: scale(1.1);
}

.card img{
    width: 290px ;
    height: 280px;
    background: #fff;
}

.cardss{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    margin-top: 40px;
}

