*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, #0f501d, rgba(102, 238, 165, 0.8));
    display: flex;
    align-items: center;
    justify-content: center;
}

.continer{
    background: #ddd;
    padding: 30px 60px;
    border-radius: 13px;
}

.continer header{
    text-align: center;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.continer header i{
    background: #061978;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
}

.continer header h4{
    font-size: 22px;
    color: #2e2e2e;
}

.code input{
    width: 46px ;
    height: 46px;
    outline: none;
    border: 1px solid #2e2e2e;
    margin-bottom: 25px;
    text-align: center;
    background: transparent;
    border-radius: 12px;
    font-weight: 700;
    font-size: 20px;
}

.code input::-webkit-inner-spin-button,
.code input::-webkit-outer-spin-button{
    display: none;
}

.continer button{
    width: 100%;
    padding: 10px 0;
    background: #6e93f7;
    color: #fff;
    border-radius: 13px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    transition: all .3s ease;
    cursor: pointer;
    pointer-events: none;
}

.continer button.active{
    background: #6e93f7;
    pointer-events: auto;
}

.continer button:hover{
    background: #061978;
}