*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #601515, #89cc2a);
    height: 100vh;
}

.container{
    background: #fff;
    text-align: center;
    padding: 20px 35px 20px;
    border-radius: 13px;
}

.container h3{
    color:#222 ;
    font-size: 22px;
    margin-bottom: 20px;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.stars i{
    font-size: 23px;
    color: #2e2e2e;
    cursor: pointer;
}

.stars i.color{
    color: #efa104;
}