*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border-color: #fff;
    cursor: pointer ;
    border: none;
    outline: none;
    transition: .2s ease;
}

body{
    background: #fff;
    width: 100%;
}


/* header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .09);
}

#header img.logo{
    width: 90px;
    height: 90px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    position: relative;
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    text-decoration: none ;
    transition: .3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

 #close{
    display: none;
    }

/* home page */
#hero{
    background-image: url(..//images/worker4.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url(..//images/banner-bg.png);
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 13px;
    border: 0;
    padding: 14px 80px 14px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.fe-box img{
    margin-top: -10px;
    width: 100%;
    height: 0%;
    margin-bottom: 10px;
}


#feature .fe-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:#fddde4 ;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #8a97d9;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;

}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    min-height: 100vh;
    text-align: center;
}

#product1 p{
    color: #222;
}


#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.pro img{
    width: 100%;
    height: 40vh;
   border-radius: 20px;
   
}

#product1 .pro{
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 300px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: .2s ease ;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 300px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #0606;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(245, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    font-weight: 700;
    background: #e8f6ea;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #088178;
    border-radius: 50px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(..//images/cta-bg.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;       
}

#banner h4{
    color: rgb(245, 181, 25);
    font-size: 16px;
}

#banner h2{
    color: #fffddd;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(245, 181, 25);
}

#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(..//images/avatar_5.png);
    min-width :690px;
    height: 50vh;
    background-size: cover;
    background-position: center; 
    padding: 30px;
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
}

#sm-banner h2{
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500px;
    padding-bottom: 15px;
}

.banner-box button.normal{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    cursor: pointer;
    transition: .2s ease;
    background: transparent;
    border: 1px solid #dcdcdc;
    outline: none;
}

.banner-box:hover button.normal{
    background: #088178;
    color: #fff;
    border: 1px solid #088178;
    outline: none;
}

#sm-banner .benner-box2{
    background-image: url(..//images/cloth2.jpg);
}

#banner3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(..//images/avatar_5.png);
    min-width :30%;
    height: 30vh;
    background-size: cover;
    background-position: center; 
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 .banner-box h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2{
    background-image: url(..//images/shoe3.jpg);
}

#banner3 .banner-box3{
    background-image: url(..//images/cloth1.jpg);
}

#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-color: #041e42;
    background-position: 20% 30%;
    background-size: cover;
    line-height: 100%;
}

#newsletter h4{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}


#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
   background-color: #088178;  
   color: #fff;
   white-space: nowrap;
   border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
}


/* footer section */

footer img{
    width: 140px;
    height: 140px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .row img{
    width: 70px;
    height: 70px;
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}

footer .payment p{
    margin-top: 20px;
}

footer .payment img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-top: -14%;
}

footer .logo{
    margin-top: -30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    color: #222;
    font-size: 17px;
    margin: 0 0 8px 0 ;
}

footer a{
    /* font-size: 13px; */
    text-decoration: none;
    color: #222;
    margin: 10px ;
}


footer .follow{
    padding-right: 4px;
}

footer .follow i:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
    margin-top: -30px;
}

footer .col a:hover{
    color: #088178;
}


/* shop page */

#page-header{
    background-image: url(..//images/banner-bg.png);
    width: 100%;
    height: 38vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}

#page-header h2,p{
    color: #fff;
}


#pagnation{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

#pagnation a{
    background: #088112;
    padding: 15px 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
}

#pagnation a i{
    font-size: 16px;
    font-weight: 600;
}

/* single product */

#prodetails{
    display: flex;margin-top: 20px;

}

#prodetails .single-pro-details{
    width: 30%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 30px;
}

#prodetails .single-pro-details select{
    outline: none;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px ;
    height: 47px;
    padding-left: 10px ;
    font-size: 16px;
    margin-right: 10px;  
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background: #088112;
    color: #fff;
}

#prodetails .single-pro-details span{
    font-size: 22px;
    line-height: 30px;
}


#prodetails .single-pro-img{
    width:40% ;
    margin-right: 50px;
}

.sm-imgGrp{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sm-imgGrp .sm-imgCol{
    cursor: pointer;
}

.sm-imgGrp .sm-imgCol img{
    height: 20vh;
    object-fit: contain;

}




/* media queries */
@media screen and (max-width:799px) {

    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0 ;
    right: -300px;
    height: 100vh;
    width: 300px;
    background: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: .3s ease-in-out;
}

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
    display: flex;
    align-items: center;
}

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 25px ;
    }

    #navbar.expand{
        right: 0;
    }
    
    #close{
        display: flex;
        position: absolute;
        top:30px;
        left: 30px;
        color: #1a1a1a;
        padding: 80 0 0 10px;
    }

    #lg-bag{
        display: none;
    }

    #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%; 
}

#feature{
    justify-content: center;
}

#product1 .pro-container {
    justify-content: center;
   
}

#product1 .pro {
    margin: 15px;

}



#banner{
    height: 20vh;   
}

#sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    
}

#banner3 {
    padding: 50px;
}

#banner3 .banner-box {
    width: 28%;
}

#newsletter .form{
    width: 70%;
}
   
}

@media screen and (max-width:477px){
    #header {
    padding: 10px 30px; 
}

    #hero {
    padding: 0 20px;
    background-position: 55%;
}

    h2 {
    font-size: 32px;
}
    h1 {
    font-size: 38px;
}

    .section-p1 {
    padding: 40px 10px;
}

    #feature {
    justify-content: space-between;
}

    #product1 .pro {
    width: 100%;
    
}

    #banner {
    height: 40vh;
}

    #sm-banner .banner-box {
    height: 40vh;
}

  #sm-banner .benner-box2 {
    margin-top: 20px;
}

   #banner3 {
    padding: 0 20px;
}

    #banner3 .banner-box {
    width: 100%;
  
}

    #newsletter .form{
    width: 100%;
}

    #newsletter {
   padding: 40px 20px;
}

    footer .copyright {
    text-align: start;
    
}

    /* single product */
    #prodetails {
    display: flex;
    flex-direction: column;
}

    #prodetails .single-pro-img{
        width: 100%;
        margin-right: 0px ;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }
     

}



